@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'e-Ukraine-Regular';
  src: url('./utils/font/e-Ukraine-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@layer base{
  body{
    @apply bg-brown text-brown-secondary font-['e-Ukraine-Regular'];
    ;
  }
  .h2{
    @apply text-2xl lg:text-4xl text-brown font-bold;
  }
  .btn,
  .input-control{
    @apply text-[15px] h-16 rounded-[10px] outline-none;
  }
  .btn{
    @apply px-8 text-white bg-brown hover:bg-brown transition;
  }

  .input-control{
    @apply w-full max-w-[514px] px-8 text-brown-secondary placeholder:text-brown-secondary;
  }
}